
.icon-nodes:before { content: '\e806'; } /* '' */
.icon-lock-open:before { content: '\e805'; } /* '' */
.icon-search:before { content: '\e808'; } /* '' */
.icon-user:before { content: '\e809'; } /* '' */
.icon-user-add:before { content: '\e80a'; } /* '' */
.icon-layer-2:before { content: '\e80b'; } /* '' */
.icon-pin:before { content: '\e80c'; } /* '' */
.icon-pin-add:before { content: '\e80d'; } /* '' */
.icon-2d:before { content: '\e80e'; } /* '' */
.icon-3d:before { content: '\e80f'; } /* '' */
.icon-loading:before { content: '\e810'; } /* '' */
.icon-plus-squared:before { content: '\e811'; } /* '' */
.icon-layer:before { content: '\e812'; } /* '' */
.icon-config:before { content: '\e813'; } /* '' */
.icon-globe:before { content: '\e814'; } /* '' */
.icon-off:before { content: '\e815'; } /* '' */
.icon-close:before { content: '\e807'; } /* '' */
.icon-chart-pie:before { content: '\e817'; } /* '' */
.icon-list:before { content: '\e818'; } /* '' */
.icon-tools:before { content: '\e819'; } /* '' */
.icon-chart-bar:before { content: '\e81a'; } /* '' */
.icon-squares:before { content: '\e81b'; } /* '' */
.icon-info-circle:before { content: '\e81c'; } /* '' */
.icon-placeholder:before { content: '\e81d'; } /* '' */
.icon-spinner:before { content: '\e81e'; } /* '' */
.icon-wrench:before { content: '\e81f'; } /* '' */
.icon-github:before { content: '\e802'; } /* '' */
.icon-google:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-lock:before { content: '\e804'; } /* '' */
.icon-menu:before { content: '\e816'; } /* '' */