/*
 * Nodeshot colors
 * keep here all instructions related to colors,
 * background colors, borders, ecc
 */

body{
    background-color: #f2f2f2;
    /* body text */
    color: #303030;
}

a:focus{ outline: 0 none }

#top-bar a:focus{ outline: 1px dotted rgba(255, 255, 255, 0.7) }

#top-bar{
    background-color: #de5c44;
    background: -moz-linear-gradient(left, #df5d43 0%, #f0775f 50%, #df5d43 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#df5d43), color-stop(50%,#f0775f), color-stop(100%,#df5d43)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #df5d43 0%,#f0775f 50%,#df5d43 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #df5d43 0%,#f0775f 50%,#df5d43 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #df5d43 0%,#f0775f 50%,#df5d43 100%); /* IE10+ */
    background: linear-gradient(to right, #df5d43 0%,#f0775f 50%,#df5d43 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df5d43', endColorstr='#df5d43',GradientType=1 ); /* IE6-9 */
}

#nav-bar, .breadcrumb{
    background: #383838; /* Old browsers */
    background: -moz-linear-gradient(top,  #383838 0%, #4d4d4d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#383838), color-stop(100%,#4d4d4d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #383838 0%,#4d4d4d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #383838 0%,#4d4d4d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #383838 0%,#4d4d4d 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #383838 0%,#4d4d4d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383838', endColorstr='#4d4d4d',GradientType=0 ); /* IE6-9 */
}
.breadcrumb{ border-radius: 0 }

body > header{
    /*-webkit-box-shadow: 0px 5px 6px 4px rgba(1,2,2,0.22);*/
    /*-moz-box-shadow: 0px 5px 6px 4px rgba(1,2,2,0.22);*/
    /*box-shadow: 0px 5px 6px 4px rgba(1,2,2,0.22);*/
    color: #fff;
}

#general-search::-webkit-input-placeholder {
    color: #979696;
}
#general-search:-moz-placeholder {
    /* FF 4-18 */
    color: #979696;
}
#general-search::-moz-placeholder {
    /* FF 19+ */
    color: #979696;
}    
#general-search:-ms-input-placeholder {
    /* IE 10+ */
    color: #979696;
}

#top-bar a, .breadcrumb a, body a, body a:hover{ color: #fff }
/*.breadcrumb a{ text-decoration: underline }*/

#top-bar > ul > li > a{
    border-left: 1px solid rgba(255, 255, 255, 0);
    border-right: 1px solid rgba(255, 255, 255, 0);
    margin-left: -1px;
}

#top-bar > ul > li > a:hover,
#top-bar > ul > li > a:focus,
#top-bar li.open a{
    background-color: #df5134;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    outline: 0 none;
}
#top-bar > ul > li > :active { background-color: #ff866d }

#top-bar li ul{
    padding: 0;
    margin: -2px 0 0 0;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
}

#top-bar li li a{
    margin: 0;
    background-color: #df5134
}

#top-bar li li a:hover{
    background-color: #ff866d
}

#top-bar .notifications .bg{
    background-color: #4d4d4d;
}

#ns-top-nav-links > ul > li > a{ color: #dbdbdb }
#ns-top-nav-links > ul > li > a span{ color: #9e9e9e }
#ns-top-nav-links > ul > li > a:hover,
#ns-top-nav-links > ul > li > a:focus,
#ns-top-nav-links > ul > li > a:hover span,
#ns-top-nav-links > ul > li > a:focus span,
#ns-top-nav-links a
{ color: #fff }

#ns-top-nav-links > ul > li.active > a,
#ns-top-nav-links > ul > li.active > a span
{ color: #e6e6e6 }

#ns-top-nav-links ul.dropdown-menu,
#ns-top-nav-links ul.dropdown-menu li{
    background-color: #4d4d4d;
    color: #fff;
}

#ns-top-nav-links ul.dropdown-menu{
    border-top: 0 none;
}

#ns-top-nav-links ul.dropdown-menu a{ padding: 8px 20px }
#ns-top-nav-links ul.dropdown-menu a:hover{ background-color: #000 }

body article blockquote{
    background-color: #ffffff;
    border-left: 4px solid red;
}
body article blockquote.style2{ border-left-color: #4195e5 }

.overlay{
    background-color: #000;
    background-color: rgba(0,0,0,0.80);
    color: #fff;
}

.modal-dialog{
    background-color: #222222;
    color: #fff
}

.inverse{
    background-color: #fff;
    color: #4e4e4e;
}

.inverse a, .inverse a:hover, .inverse a:focus{ color: #4e4e4e }

body article a, .user-dialog a{
    color: #d2482c;
    text-decoration: underline;
    font-weight: bold;
}
body article a:hover,
body article a:focus,
.user-dialog a:hover,
.user-dialog a:focus{
    color: #d2482c;
    text-decoration: none;
}

.user-dialog a.btn{
    color: #fff;
    text-decoration: none
}

#map-toolbar,
#toggle-toolbar{
    background: #eaeaea;
    border-left: 1px solid rgba(53, 53, 53, 0.3);
    -webkit-box-shadow: -2px 0px 5px 0px rgba(50, 50, 50, 0.1);
    -moz-box-shadow: -2px 0px 5px 0px rgba(50, 50, 50, 0.1);
    box-shadow: -2px 0px 5px 0px rgba(50, 50, 50, 0.1);
}

.btn,
.input-group-addon{
    text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
}

.btn-success,
.btn-success:hover,
.btn-success:focus,
.btn-success:active{
    background: #3d8113; /* Old browsers */
    background: -moz-linear-gradient(top,  #3d8113 0%, #174f0f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d8113), color-stop(100%,#174f0f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #3d8113 0%,#174f0f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #3d8113 0%,#174f0f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #3d8113 0%,#174f0f 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #3d8113 0%,#174f0f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d8113', endColorstr='#174f0f',GradientType=0 ); /* IE6-9 */
    color: #fff;
    border: 0 none;
    border-top: 1px solid #6fb743;
    border-bottom: 1px solid #15470c;
    outline: 0 none;
}

.btn-success:hover,
.btn-success:focus{
    background: #3e8514;
}

.btn-default,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.input-group-addon{
    background: #696b6f; /* Old browsers */
    background: -moz-linear-gradient(top,  #696b6f 0%, #4b4f58 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#696b6f), color-stop(100%,#4b4f58)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #696b6f 0%,#4b4f58 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #696b6f 0%,#4b4f58 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #696b6f 0%,#4b4f58 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #696b6f 0%,#4b4f58 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#696b6f', endColorstr='#4b4f58',GradientType=0 ); /* IE6-9 */
    color: #fff;
    border: 0 none;
    border-top: 1px solid #888b92;
    border-bottom: 1px solid #4b4f58;
    outline: 0 none;
}

.btn-default:hover,
.btn-default:focus{
    background: #696b6f;
}

.btn-social,
.btn-social:active{
    background: #5a7dc7; /* Old browsers */
    background: -moz-linear-gradient(top,  #5a7dc7 0%, #4364aa 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5a7dc7), color-stop(100%,#4364aa)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #5a7dc7 0%,#4364aa 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #5a7dc7 0%,#4364aa 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #5a7dc7 0%,#4364aa 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #5a7dc7 0%,#4364aa 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a7dc7', endColorstr='#4364aa',GradientType=0 ); /* IE6-9 */
    border: 1px solid rgba(0,0,0,0.3);
}

.btn-social:hover .hover,
.btn-social:focus .hover{
    display: block;
    background: rgba(255, 255, 255, 0.2)
}

.btn-social span{
    -webkit-box-shadow: inset 3px 3px 4px 0px rgba(255,255,255,0.2);
    -moz-box-shadow: inset 3px 3px 4px 0px rgba(255,255,255,0.2);
    box-shadow: inset 3px 3px 4px 0px rgba(255,255,255,0.2);
}

.btn-social .icon{
    border-right: 1px solid rgba(0,0,0,0.3);
}

.btn-facebook .icon{
    background-color: #3b5998
}

.btn-google,
.btn-google:active{
    background: #d03324; /* Old browsers */
    background: -moz-linear-gradient(top,  #d03324 0%, #df4a32 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d03324), color-stop(100%,#df4a32)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d03324 0%,#df4a32 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d03324 0%,#df4a32 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d03324 0%,#df4a32 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #d03324 0%,#df4a32 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d03324', endColorstr='#df4a32',GradientType=0 ); /* IE6-9 */
}

.btn-google .icon{
    background-color: #d03324;
}

.btn-github,
.btn-github:hover{
    background: #212121; /* Old browsers */
    background: -moz-linear-gradient(top,  #212121 0%, #3d3d3d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#212121), color-stop(100%,#3d3d3d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #212121 0%,#3d3d3d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #212121 0%,#3d3d3d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #212121 0%,#3d3d3d 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #212121 0%,#3d3d3d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#212121', endColorstr='#3d3d3d',GradientType=0 ); /* IE6-9 */
}

.btn-github .icon{
    background-color: #171516;
}

.input-group-addon{
    background: #989aa1; /* Old browsers */
    background: -moz-linear-gradient(top,  #989aa1 0%, #777a81 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#989aa1), color-stop(100%,#777a81)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #989aa1 0%,#777a81 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #989aa1 0%,#777a81 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #989aa1 0%,#777a81 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #989aa1 0%,#777a81 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#989aa1', endColorstr='#777a81',GradientType=0 ); /* IE6-9 */
    
    border-top: 1px solid #94969d;
    border-right: 1px solid #6d7078;
    border-bottom: 1px solid #52555f;
    border-left: 1px solid #6a6d76 !important;
    
    padding: 5px 9px !important;
}

.input-group-addon:before{
    font-size: 15px !important;
    margin: 0 !important;
    padding: 0 !important;
}

.form-control{
    color: #9e9e9e;
}

input.error, .error input{
    border: 1px solid #d96352;
    color: #ff0000 !important;
}
.error .input-group-addon{
    border: 1px solid #d96352;
}

#map-legend{
    -webkit-box-shadow: 0px 3px 25px 0px rgba(50, 50, 50, 0.4);
    -moz-box-shadow:    0px 3px 25px 0px rgba(50, 50, 50, 0.4);
    box-shadow:         0px 3px 25px 0px rgba(50, 50, 50, 0.4);
}

#map-legend.inverse a:hover,
#map-legend.inverse a:focus{
    text-decoration: none;
    color: #000;
    outline: 0 none
}

#map-legend.inverse .icon-close:hover,
.user-dialog .icon-close:hover,
.inverse .icon-close:focus{
    color: #000
}

#map-legend .stats{ color: #7f7f7f !important }

.disabled{ opacity: 0.4 }

#map-toolbar a,
#toggle-toolbar{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #d6d6d6;
    color: #3f3f3f;
}

#map-toolbar a:hover,
#map-toolbar a:focus,
#toggle-toolbar:hover,
#toggle-toolbar:focus{
    color: #000;
    background-color: #f3f3f3;
    outline: 0 none
}

.loading .icon-close{
    color: #fff;
    opacity: 0.4;
}
.loading .icon-close:hover{
    opacity: 0.9;
    text-decoration: none
}

.user-dialog .icon-close{
    color: #999999;
}

#preloader{
    background: #fff;
    color: #333;
}